.logo{
    color:#0A1B32;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 2%;
    margin-top: 37px;
    margin-left: 80px;

}
.dot{
    color:#A3DC00;
}

.heading{

  font-family: "Ramaraja", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 76px;
  color:#1B0A42 ;
  margin-top: 281px;
  margin-left: 200px;
  letter-spacing: 2%px;
  width: 100%;
  max-width: 495px;
   
}


section{
  display: inline;
}
.para{
  width: 100%;
  max-width: 583px;
  color:#9A9A9A;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 443px;
  margin-left: 200px;
  letter-spacing: 2%;
  line-height: 32px;
  font-size: 20px;
}

.btn{
   width: 152px;
   height: 64px;
   margin-left: 200px;
    background-color: #C6FF00;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-style:normal ;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 2%;
    border: none;


}

